.media-handle {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	float: left;
	cursor: move;
}

.media-album {
	background: url(../../img/cms/media/album.png) no-repeat;
}

.media-audio {
	background: url(../../img/cms/media/audio.png) no-repeat;
}

.media-image {
	background: url(../../img/cms/media/image.png) no-repeat;
}

.media-item .image {
	margin-right: 100px;
	float: right;
	width: 100px;
	height: 100px;
}
